@font-face {
    font-family: "Gilroy-Bold";
    src: url("../../public/Gilroy-Bold.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../../public/Gilroy-Medium.ttf");
  }

  @font-face{
      font-family: "Nuninto";
      src: url("../../public/Nunito-Regular.ttf");
  }

.index__section{
    width: 100%;
    height: 100%;
    
}

.sidenav{
    float: left;
    width: 35%;
    height: 100vh;
    background: #8D74CC;
    overflow: hidden;
 
}

.container_left{
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
}
.headerName{
    font-family: "Gilroy-Bold";
    font-size: 2rem;
}

.headerCallOut{
    font-family: "Gilroy-Bold";
    font-size: 3rem;
    text-align: start;
    
}

.headerjoinmsg{
    font-family: "Nunito";
    font-size: 1.5rem;
    margin-top: 20px;
}

.headerImage{
    margin-top: 8%;
    margin-left: 20%;
}
.main{
   height: 100vh;
   overflow-y: hidden;
}

.container_right{
    padding: 0% 10%;
    
}


.continue{
    font-size: 1.5rem;
    font-family: "Nunito";
    font-weight: bold;
    margin-top: 5%;
}
.developer{
    margin-top: 5%;
    width: 900px;
    height: 250px;
    border-radius: 16px;
    background-color: #ECEAF2;
}

.developer:hover{
    border: 3px dotted #8D74CC;

}

.ownerFeatures{
    float: right;
    margin-right: 30%;
    margin-top: 4%;
    font-size: 1.2rem;
}

.investorFeatures{
    float: right;
    margin-right: 48%;
    margin-top: 7%;
    font-size: 1.2rem;
}

.investor{
    margin-top: 10%;
    width: 900px;
    height: 250px;
    border-radius: 16px;
    background-color: #ECEAF2;
}

.investor:hover{
    border: 3px dotted #8D74CC;
}
.developerImage{
    margin-top: 6%;
    margin-left: 4%;
   
}

