@font-face {
  font-family: "Gilroy-Bold";
  src: url("../public/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../public/Gilroy-Medium.ttf");
}
/* .signup__sections {
} */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  background: url("../public/signupbackground.png");
  background-position: center;
}

.logo__container {
  width: 185px;
  height: 81px;
  margin-top: 5%;
  margin-left: 10%;
}

.form__section {
  margin-left: 10%;
  width: 700px;
  height: 70vh;
  position: absolute;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.form > div {
  margin-bottom: 30px;
}
.textFld {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid #b7b7b7;
}

.textFld::placeholder {
  color: #b7b7b7;
  font-size: 20px;
  padding: 40px 5px;
  font-family: "Gilroy-Medium";
}
.right__field {
  margin-left: 10%;
}


.fullFld {
  width: 580px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid #b7b7b7;
}

.fullFld::placeholder {
  color: #b7b7b7;
  font-size: 20px;
  padding: 40px 5px;
  font-family: "Gilroy-Medium";
}

.btnfullFld{
  text-decoration: none;
}
.btnfullFld > button {
  width: 580px;
  height: 50px;
  border-radius: 10px;
  background: #8d74cc;
  color: #000000;
  font-family: "Gilroy-Bold";
  text-transform: capitalize;
}

.btnfullFld > button:hover {
  color: black;
  background: #e8b7d4;
}

.checkbox {
  display: flex;
}
.checkbox > * {
  font-family: "Gilroy-Medium";
  color: #000000;
}

.warning {
  width: 580px;
  color: #b7b7b7;
  font-family: "Gilroy-Medium";
}
.info__section {
  position: absolute;
  width: 450px;
  height: 500px;
  top: 20%;
  left: 23%;
  background: white;
  border-radius: 16px;
  border-color: #707070;
  font-weight: bold;
  text-align: center;
}

.info__section__header {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  /* border: 1px solid red; */
  margin-top: 15%;
}

.features__section {
  margin-left: 70px;
}

.features__section__text {
  font-family: "Gilroy-Bold";
  margin-left: 30px;
  margin-top: 5%;
  font-size: 1rem;
}

.form__section{
  position: absolute;
  top: 20%;
  left: 8%;
}
